<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} Gabarito - Exercícios Flask</title>
  </head>
  <body>
    
    <header>
      <nav>
        <div class="nav-wrapper green darken-3">
          <a href="{{ url_for('index') }}" class="brand-logo"> Exercícios Flask</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">IMC</a></li>
            <li><a href="#">Repositórios</a></li>
            <li><a href="#">CEP</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main>

        <div class="container">
            <!-- O conteúdo da página vai aqui -->
            {% block content %}{% endblock %}
        </div>

    </main>

    <footer>
      <div class="footer-copyright">
        <div class="container">
          {% block footer %} © 2014 Copyright by
          <a
            class="grey-text right"
            href="https://diegoaugustobarros.com/"> Prof. Diego Augusto Barros</a>
          {% endblock %}
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>